.reader-chk {
    color: @gray-light;
    cursor: pointer;
    &:hover {
        color: @gray;
        font-weight:    bold;
    }
}

.td-side-pad {
    padding: 0px @table-cell-padding 0px @table-cell-padding;
}

.reader-unread  a {
    color: black;
    font-weight: bold;
}

.reader-item {
    background-color: lighten(@gray-light,50%);
}

.reader-item.reader-unread {
    background-color: white;
}

.reader-item.reader-chk-item {
    background-color: @state-info-bg;
}

.inline-clip {
    display: inline-block;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis;
}
