
.reader-navbar {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 99;
    height: @navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
    margin-bottom: @navbar-margin-bottom;
    border: 1px solid transparent;
    padding: 0px 15px;
    // Prevent floats from breaking the navbar
    &:extend(.clearfix all);
    background-color: @navbar-default-bg;
    //border-color: @navbar-default-border;
    border-radius: 0;
}

.reader-navbar .btn {
    line-height: 14px;
    .reader-navbar-button-vpadding(@navbar-height);
}

.reader-navbar-two {
    &:extend(.reader-navbar);
    top: @navbar-height;
    background-color: hsla(0,0%,90%, 95%);
    padding: 0px;
    height: 40px
}

.reader-navbar-two .btn {
    line-height: 14px;
    .reader-navbar-button-vpadding(40px);
}

.reader-navbar > .brand-text {
    font-family: 'Alfa Slab One', cursive;
    font-size: (@navbar-height * 0.9);
    padding: 0px;
    margin: 0em;
    color: white;
    line-height: 1em;
    cursor: default;
    float: left;
}

@signin-padding-vertical: 0px;

.reader-navbar-button-vpadding(@height) {
    margin: (@height - 28px - 2px - 2*@signin-padding-vertical)/2 0px;
}

.signin-btn {
    .reader-navbar-button-vpadding(@navbar-height);
    font-size: 14px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: @google-color;
    border-radius: 5px;
    color: white;
    border-style: none;
    line-height: 14px;
    border-color: white;
    &:hover {
        text-decoration: none;
        background-color: darken(@google-color, 5%);
        color: white;
    }
    .signin-btn-icon {
        display: inline-block;
        //background-color: @google-color;
        background-color: transparent;
        margin: 0px;
        padding: 6px 8px;
        //border-radius: 5px 0px 0px 5px;
        border-width: 0px 2px 0px 0px;
        border-style: none solid none none;
    }
    .signin-btn-text {
        display: inline-block;
        //background-color: @google-color;
        background-color: transparent;
        margin: 0px 0px 0px -3px;
        padding: 6px 1em;
        border-width: 0px;
        //border-radius: 0px 5px 5px 0px;
    }
}

