
.nav-sidebar {
  //margin-right: -21px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.feeds-list-text {
    display: inline-block;
    margin-right: 0.5em;
}

.feeds-cb-holder {
    visibility: hidden;
    position: absolute;
    right: @padding-base-horizontal;
    top: extract(@nav-link-padding, 1);
    //color: white;
}

.nav-sidebar  a:hover .feeds-cb-holder {
    visibility: visible;
}
