<table class="table"
    infinite-scroll="infScrollGetMore()"
    infinite-scroll-distance="0.5"
    infinite-scroll-disabled="await || !isMore"
    infinite-scroll-listen-for-event="itemFilterChange" >
  <tr ng-repeat="item in itemList | filter:itemFilter | orderBy:'-pubdate'" ng-class="{info: !item.read, 'reader-chk-item': item.checked}">
    <td><i class="fa fa-fw reader-chk" ng-class="{'fa-square-o': !item.checked, 'fa-check-square': item.checked}" ng-click="checkItem(item)"></i> <a href ng-click="viewItem({itemObj: item})" ng-bind="item.title || '(link)'"></a></td>
    <td class="text-right">{{item.pubdate | date: 'dd/MMM/yyyy' }}</td>
  </tr>
  <tr ng-show="await"><td><i class="fa fa-circle-o-notch fa-spin"></i> loading more...</td></tr>
  <tr ng-show="!isMore"><td class="text-muted">[No more items]</td></tr>
</table>
