<span class="feeds-text">
  <i class="fa fa-fw fa-list"></i>
  <a href class="active-contrast" ng-click="viewFeed({feedObj: meta})">
      {{meta.userTitle || meta.title}}
      <span class="badge" ng-bind="(meta.unread() >0 ? meta.unread() : undefined)"></span>
  </a>
</span>
<div class="feeds-cb-holder">
  <span dropdown>
    <a href dropdown-toggle class="active-contrast"><i class="fa fa-fw fa-cog"></i></a>
    <ul class="dropdown-menu">
      <li><a href ng-click="rename(meta)"><i class="fa fa-fw fa-i-cursor"></i>Rename</a></li>
      <li class="divider"></li>
      <li><a href ng-click="deleteFeed({'feedObj': meta})"><i class="fa fa-fw fa-trash"></i>Delete</a></li>
      <li class="divider"></li>
      <li class="dropdown-header">Move to folder</li>
      <li ng-repeat="folder_meta in feedTree.branches | filter:{folder: true} track by folder_meta.apiurl">
        <a href ng-click="meta.moveFolder(folder_meta.title)"><i class="fa fa-fw fa-folder"></i>{{folder_meta.title}}</a>
      </li>
      <li><a href ng-click="moveToNewFolder(meta)"><i class="fa fa-fw fa-plus-square"></i>New folder</a></li>
    </ul>
  </span>
</div>
