<div infinite-scroll="infScrollGetMore()"
  infinite-scroll-distance="0.5"
  infinite-scroll-disabled="await || !isMore"
  infinite-scroll-listen-for-event="itemFilterChange">
  <div class="reader-item-container" ng-repeat="item in itemList | filter:itemFilter | orderBy:'-pubdate'">
  <reader-item item="item"></reader-item>
  </div>
  <div class="row" ng-show="!await && isMore"><div class="col-xs-12 text-center"><a href ng-click="infScrollGetMore()">Load more</a></div></div>
  <div class="row" ng-show="await"><div class="col-xs-12 text-center"><i class="fa fa-circle-o-notch fa-spin"></i> loading more...</div></div>
  <div class="row" ng-show="!isMore"><div class="col-xs-12 text-muted text-center">[No more items]</div></div>
</div>
