<ul class="feed-tree">
  <li class="tree-item" ng-class="{active: (feedTree.apiurl===highlightFeed)}">
    <i class="fa fa-fw pointy" ng-class="{'fa-caret-down': feedTree.showBranches, 'fa-caret-right': !feedTree.showBranches}" ng-click="feedTree.showBranches=!feedTree.showBranches"></i>
    <a href class="active-contrast" ng-click="viewFeed({feedObj: feedTree})">
        Everything
        <span class="badge" ng-bind="(feedTree.unread() >0 ? feedTree.unread() : undefined)"></span>
    </a>
  </li>
  <li ng-show="feedTree.showBranches">
    <ul class="sub-tree">
      <!-- folder -->
      <div ng-repeat="folder_meta in feedTree.branches | filter:{folder: true}">
        <li class="tree-item" ng-class="{active: (folder_meta.apiurl===highlightFeed)}">
          <span class="feeds-text">
            <i class="fa fa-fw pointy" ng-class="{'fa-caret-down': folder_meta.showBranches, 'fa-caret-right': !folder_meta.showBranches}" ng-click="folder_meta.showBranches=!folder_meta.showBranches"></i>
            <a href class="active-contrast" ng-click="viewFeed({feedObj: folder_meta})">
                {{folder_meta.title}}
                <span class="badge" ng-bind="(folder_meta.unread() >0 ? folder_meta.unread() : undefined)"></span>
            </a>
          </span>
        </li>
        <li ng-show="folder_meta.showBranches">
          <ul class="sub-tree">
            <li class="tree-item" ng-repeat="meta in folder_meta.branches | filter:{folder: false}" ng-class="{active: (meta.apiurl===highlightFeed)}">
              <reader-view-feeds-entry></reader-view-feeds-entry>
            </li>
          </ul>
        </li>
      </div>
      <!-- /folder -->
      <li class="tree-item" ng-repeat="meta in feedTree.branches | filter:{folder: false} track by meta.apiurl" ng-class="{active: (meta.apiurl===highlightFeed)}">
        <reader-view-feeds-entry></reader-view-feeds-entry>
      </li>
    </ul>
  </li>
</ul>
